<h1>Welcome to Cookbook</h1>
<div class="content">
    <a class="button" href="/login">Sign In</a></br>
    <a class="button" href="/signup">Sign Up</a>
</div>

<%if logged_in?%>
    <ul>
        <%Recipe.all.each do |recipe|%>
            <li><a href='/recipes/<%=recipe.id%>'> <%= recipe.instructions%></a></li>
        <%end%>
    </ul>
<%end%>